
.video-comp{
    width: 100%;
}

#video{
    width: 100%;
    height: auto;
}

.controls{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 5px;
}

.controls > button {
    padding: 10px;
    margin-left: 20px;
    font-size: 20px;
    border: 2px solid transparent;
    border-radius: 5px;
}

.controls > button:hover{
    background: rgb(13, 13, 44);
    color: white;
    border: 2px solid wheat;
}

#no {
    margin-right: 10px;
}

.views{
    float: right;
    color: white;
    font-size: 30px;
}

.views > p {
    margin-right: 20px;
}